@font-face {
  font-family: "iconfont"; /* Project id 4874592 */
  /* Color fonts */
  src:
       url('//at.alicdn.com/t/c/font_4874592_6erykb7z07o.woff2?t=1743936232340') format('woff2'),
       url('//at.alicdn.com/t/c/font_4874592_6erykb7z07o.woff?t=1743936232340') format('woff'),
       url('//at.alicdn.com/t/c/font_4874592_6erykb7z07o.ttf?t=1743936232340') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuanzhang:before {
  content: "\e60e";
}

.icon-qita:before {
  content: "\e60f";
}

.icon-a-1111-11:before {
  content: "\e610";
}

.icon-a-1111-10:before {
  content: "\e611";
}

.icon-a-1111-07:before {
  content: "\e612";
}

.icon-a-1111-09:before {
  content: "\e613";
}

.icon-a-083_chongwu:before {
  content: "\e7cd";
}

.icon-a-083_peixun:before {
  content: "\e7d2";
}

.icon-a-083_paotui:before {
  content: "\e7d7";
}

.icon-a-083_maiyao:before {
  content: "\e7d8";
}

.icon-a-083_muying:before {
  content: "\e7dd";
}

.icon-a-1111-02-02:before {
  content: "\e60d";
}

.icon-a-083_chaoshi:before {
  content: "\e7ce";
}

.icon-a-083_chuhang:before {
  content: "\e7cf";
}

.icon-a-083_lingshi:before {
  content: "\e7d4";
}

.icon-a-083_jiudian:before {
  content: "\e7d5";
}

.icon-a-083_guoqie:before {
  content: "\e7da";
}

.icon-a-083_yifu:before {
  content: "\e7de";
}

.icon-a-083_meishi:before {
  content: "\e7e0";
}

.icon-a-083_shucai:before {
  content: "\e7e4";
}

.icon-a-1111-011:before {
  content: "\e609";
}

.icon-a-1111-03:before {
  content: "\e603";
}

.icon-a-1111-06:before {
  content: "\e606";
}

.icon-a-1111-05:before {
  content: "\e605";
}

.icon-a-1111-04:before {
  content: "\e604";
}
