@font-face {
  font-family: "iconfont"; /* Project id 4849211 */
  src: url('//at.alicdn.com/t/c/font_4849211_tzjeythylh9.woff2?t=1741532072437') format('woff2'),
       url('//at.alicdn.com/t/c/font_4849211_tzjeythylh9.woff?t=1741532072437') format('woff'),
       url('//at.alicdn.com/t/c/font_4849211_tzjeythylh9.ttf?t=1741532072437') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e6af";
}

.icon-tongji:before {
  content: "\e64a";
}

.icon-wode:before {
  content: "\e6e1";
}

.icon-92:before {
  content: "\e67b";
}

.icon-canyin:before {
  content: "\e6e8";
}

.icon-canyin1:before {
  content: "\e60f";
}

.icon-canyin2:before {
  content: "\e605";
}

.icon-canyin3:before {
  content: "\e606";
}

.icon-_xican:before {
  content: "\e824";
}

.icon-canyin4:before {
  content: "\e613";
}

.icon-canyinxinxi:before {
  content: "\e618";
}

.icon-canyin5:before {
  content: "\e940";
}

.icon-canyin6:before {
  content: "\e730";
}

.icon-canyin7:before {
  content: "\e607";
}

.icon-canyin8:before {
  content: "\e7ec";
}

.icon-canyin9:before {
  content: "\e661";
}

.icon-canyin10:before {
  content: "\e68a";
}

.icon-canyincanju:before {
  content: "\e63e";
}

.icon-canyincanju1:before {
  content: "\e64c";
}

.icon-canyin11:before {
  content: "\e756";
}

.icon-canyinye:before {
  content: "\e63d";
}

.icon-canyin12:before {
  content: "\e629";
}

.icon-canyin121:before {
  content: "\e655";
}

.icon-canyin13:before {
  content: "\e6d7";
}
