.mm-popup {
  display: flex;
  flex-direction: column;
  .popup-border {
    background-image: url("../../assets/images/blackBorder.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 8px;
    margin-top: 6px;
    margin-left: -1px;
  }
  .popup-content {
    flex: 1;
    overflow: hidden auto;
  }
}
