.layoutContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  .pageContainer {
    height: 100%;
    overflow: auto;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    // background-image: url('../../assets//images/footbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
