@import "../../styles/variables.less";


.homeWrapBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 0;
  padding-bottom: 0;

  .topTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30rpx 22rpx;
    margin-top: 14rpx;
    padding-left: 28rpx;
    .wellcomeTitle {
      font-family: PingFang SC;
      font-weight: 500;
      font-size: 42rpx;
      color: #000000;
    }
  }
}

.recordList {
  flex: 1;
  height: 100%;
}


.navBarBox {
  background-color: linear-gradient(135deg, fade(#f27166, 5%) 0%, fade(#53cc7e, 5%) 100%);
  // background-color: red;
}