.month-switcher {
  width: 274rpx;
  height: 56rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: #C4FBFF;
  border-radius: 20rpx;
  padding: 0 12rpx;

  .arrow-button {
    width: 40rpx;
    height: 40rpx;
    background-color: white;
    border-radius: 50%;
    transition: all 0.3s;
    line-height: 32rpx;
    text-align: center;
    color: #2A2A2A;

    &:active {
      background-color: #e6e6e6;
    }
  }

  .month-text {
    font-family: PingFang SC;
    font-weight: 500;
    font-size: 25rpx;
    color: #2a2a2a;
  }
}
