@import '@/styles/variables.less';

.monthStatic {
  padding: 32rpx 28rpx;
  background-color: @background-white;
  border-radius: 32rpx;
  margin: 30rpx;
  font-family: PingFang SC;
  > view:first-child {
    font-weight: 500;
    font-size: 27rpx;
    color: @expense-color;
  }

  .expenseNumber {
    font-family: PingFang SC;
    font-weight: bold;
    font-size: 53rpx;
    color: #000000;
    margin-top: 12rpx;
    margin-bottom: 18rpx;
    margin-bottom: 26rpx;
  }

  .bottomRow {
    display: flex;
    gap: 36rpx;
    > View {
      display: flex;
      gap: 4rpx;
      > Text:first-child {
        font-family: PingFang SC;
        color: @tertiary-text;
      }
    }
  }
}

.amountBox {
  color: @primary-text;
  > Text:first-child {
    display: inline-block;
    margin-right: 6rpx;
  }
}
